.home {
  width: 100%;
  padding: 20px;

  .chartAndTodo {
    width: 100%;
    margin-top: 20px;
    height: 400px;
    display: flex;
    justify-content: space-between;

    .chart {
      width: 70%;
      height: 100%;
    }

    .toDo {
      width: 28.5%;
      height: 100%;
    }
  }

  .lineBlock {
    width: 100%;
    margin-top: 20px;
  }
}
