.home {
  .chartAndTodo {
    width: 100%;
    margin-top: 20px;
    height: 400px;
    display: flex;
    justify-content: space-between;

    .chart {
      width: 32%;
      height: 100%;
    }
  }

  .lineBlock {
    width: 100%;
    margin-top: 20px;
  }
}
