.panel {
  display: flex;
  justify-content: space-between;
  height: 160px;

  &Item {
    width: 24%;
    height: 100%;

    &Block{
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
    }

    &Icon {
      font-size:48px;
    }

    &Label {
      //:first-child {
      //  color: #8c8c8c;
      //  font-size: 14px;
      //  margin-bottom: 10px;
      //}
    }
  }
}
